language: php
sudo: false

matrix:
  fast_finish: true
  include:
    - php: "5.5"
      env: USE_PSALM=0
    - php: "5.6"
      env: USE_PSALM=0
    - php: "7.0"
      env: USE_PSALM=0
    - php: "7.1"
      env: USE_PSALM=1
    - php: "7.2"
      env: USE_PSALM=1
    - php: "7.3"
      env: USE_PSALM=1
    - php: "nightly"
      env: USE_PSALM=1
    - php: "master"
      env: USE_PSALM=1
  allow_failures:
    - php: "nightly"
    - php: "master"

install:
    - composer self-update
    - if [[ $USE_PSALM -eq 1 ]]; then composer require --dev "vimeo/psalm:^3"; fi
    - composer update

script:
    - vendor/bin/phpunit
    - if [[ $USE_PSALM -eq 1 ]]; then vendor/bin/psalm; fi
